{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <title>Contact page</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inners">
        <a href="{% url 'home_page'%}">Home</a>
        <a href="{% url 'about_page'%}">About</a>
        <a href="{% url 'content_page'%}">Content</a>
      </div>
    </header>
    <main>C</main>
  </body>
</html>
