{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">


    <title>Document</title>
  </head>
  <body>
    <div class="vacancy-card">
      <h1>{{ vacancy.title }}</h1>
      <p class="description">{{ vacancy.description }}</p>
      <p><strong>Компания:</strong> {{ vacancy.company }}</p>
      <p><strong>Локация:</strong> {{ vacancy.location }}</p>

      <div class="buttons">
        <a href="{% url 'vacancy_update' vacancy.pk %}" class="edit-button"
          >Редактировать</a
        >
        <form method="post" action="{% url 'vacancy_delete' vacancy.pk %}">
          {% csrf_token %}
          <button type="submit" class="delete-button">Удалить</button>
        </form>
      </div>

      <a href="{% url 'vacancy_list' %}" class="back-link">Назад к списку</a>
    </div>
  </body>
</html>


